.Switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: black
}

.controls {
  display: flex;
  gap: 8px;
}

.view {
  font-size: 1.2rem;
  padding: 10px 16px;
  border-radius: 8px;
  background: #f6f6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
