/* @starting-style {
  .Popup {
    &,
    .content,
    &:before {
      opacity: 0;
    }
  }
} */

.Popup {
  &.overlay {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: fixed;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
    .content {
      transition: opacity 0.5s ease-out;
      cursor: default;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-out;
      background: #0000003e;
    }
  }
  /* &.remove {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  } */
}

.Viewer {
  .header {
    display: flex;
    gap: 10px;
  button {
      padding: 5px 10px;
    }
  }
}
